#nav-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: $black;
	height: 20vh;

	a {
		height: 80%;
		cursor: pointer;

		img {
			height: 100%;
		}
	}

	#navbar-coupon-btn {
		position: absolute;
		right: 2rem;
		background-color: $yellow;
		height: 50%;
		font-size: 1.5rem;
		font-family: $heading-font;
	}
}
